.mole-wrapper {
  background: #d8e2dc;
  width: 200px;
  height: 300px;
  border-radius: 16px;

  display: flex;
  align-items: center;
}

.mole-img {
  width: 100%;
  height: auto;
  max-width: 100%;
}

.mole-wrapper.success {
  outline: 8px solid green;
}

.mole-wrapper.fail {
  outline: 8px solid red;
}
